## Pre lecture hw

### 1.

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

### 2.

In [2]:
# Get the number of rows and columns
rows, columns = df.shape

# Output the result
rows, columns

(391, 11)

Based off the chatbot relpy, I understood that:
- Observations means rows. They represent individual data points/instances. In my case the observations are the animal crossings.
- Variables are columns, and each variable is a characteristic that the observation has. For my dataset that could be the animals' name, species, gender, etc.

### 3.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB

In [5]:
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [6]:
df.describe(include='all')

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
count,391.000000,390,391,391,391,391,391,380,391,391,391
unique,NaN,390,391,2,35,361,8,92,388,391,391
top,NaN,admiral,Admiral,male,cat,1-27,lazy,K.K. Country,wee one,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
freq,NaN,1,1,204,23,2,60,10,2,1,1
mean,239.902813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,140.702672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,117.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,240.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,363.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,483.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df["gender"].value_counts()

gender
male      204
female    187
Name: count, dtype: int64

In [9]:
df.isnull().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [10]:
df.dtypes

row_n           int64
id             object
name           object
gender         object
species        object
birthday       object
personality    object
song           object
phrase         object
full_id        object
url            object
dtype: object

For my understanding:
1. Summary of All Columns - df.info()
This gives a concise summary of the DataFrame:
- Number of non-null entries in each column.
- Data type of each column (e.g., integer, float, object).
- Memory usage

2. Summary Statistics for Numerical Columns - df.describe()
This provides statistical info for all numeric columns:
- Count of non-null values.
- Mean, standard deviation, min, max.
- 25th, 50th (median), and 75th percentiles.

3. Summary of All Columns, Including Non-Numerical - df.describe(include='all')
This includes all columns (not just numeric ones)

4. Unique Values and Value Counts
You can check the unique values and how frequently each occurs using .value_counts()
This will tell you how many times each unique value appears in the specified column

5. Missing Values - df.isnull().sum()
To see if any column contains missing (NaN) values, you can sum the results of .isnull() for each column

6. Column Data Types - df.dtypes
To view the data type of each column

In [11]:
df.head()

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...

In [12]:
print(df.head())

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

Difference between df.head() and print(df.head()) is that the first one gives it to us in table format. Easier to read.

### 4.

In [13]:
df.shape

(391, 11)

In [14]:
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Based off of my understanding on chat's response 
1. Non- numeric variables
df.shape gives the total number of rows and columns in the DataFrame, counting both numeric and non-numeric columns.
df.describe() only summarizes numeric columns. It will exclude non-numeric (categorical, string, object) columns from its output.

2. Missing values in numeric variables
df.shape gives the total number of observations in the dataset. Even if there are missing values in some numeric columns, the number of rows reported by df.shape will remain the same, as missing values do not remove rows.
df.describe() reflects the number of non-null (non-missing) entries for that particular column. If some rows have missing values in a numeric column, the count will be less than the total number of rows reported by df.shape.

- This dataset has multiple non-numeric columns in it but the count is still coming up as the same for both df.describe() and df.shape

### 5.

1. Attribute
- An attribute is a property of an object that holds some data or value. It is similar to a variable associated with an object.
- Do not need parentheses () because they are accessed to retrieve stored information; they don't perform any action.
- (e.g., df.columns, df.index, df.shape)

2. Method
- A method is a function that belongs to an object. It can perform an action, calculate something, or manipulate data.
- Methods require parentheses () because they need to be executed. 
- (e.g., df.describe(), df.mean(), df.drop())

Link to my chatbot conversation: https://chatgpt.com/share/66e3a7e4-3ea4-8000-8ebd-8e37e6f18eaa

## Post lecture hw

### 6. 

- Count: The total number of values or items in the dataset.
- Mean: The average of all the values. 
- Standard Deviation: This tells you how spread out the numbers are from the average (mean)
- Min: The smallest value in the dataset.
- 25% (First Quartile): This is the value below which 25% of the data falls. 
- 50% (Median): The middle value when the data is arranged in order. Half of the data is below this number, and half is above.
- 75% (Third Quartile): This is the value below which 75% of the data falls.
- Max: The largest value in the dataset.

### 7.

##### 1. Use case where df.dropna() is preferred over del df['col']
Suppose you have a dataset with only a few rows containing missing values scattered across multiple columns, but most of the columns have valuable data.In this case, you would use df.dropna() to remove only the rows with missing data instead of deleting entire columns.

##### 2. Opposite use case where del df['col'] is preferred over df.dropna()
If you have a dataset where one or more columns contain a high percentage of missing values, and those columns are not critical to your analysis, it makes more sense to delete the entire column. This approach is efficient because it removes a column that has too many missing values, helping you focus on the more complete parts of the dataset.

##### 3. Why applying del df['col'] before df.dropna() can be important
If certain columns have a lot of missing values, keeping those columns and running df.dropna() would result in a large number of rows being dropped because they have missing data in those columns. This could cause you to lose a lot of valuable data unnecessarily. By first removing columns with excessive missing values (del df['col']), you reduce the risk of dropping too many rows when you later apply df.dropna().Maximizes the retention of valuable data by cleaning the columns before focusing on the rows.

##### 4. Remove all missing data from your dataset and justify the approach
First, determine which columns have missing data and how many rows are affected.
Based on the missing data report, if any column has a high percentage of missing values and is not critical to the analysis, it should be removed first.
After removing unnecessary columns, drop rows that have any remaining missing values.

In [15]:
missing_data_report = df.isnull().sum()
print(missing_data_report)
del df['song']  # From question one we can see "song" has the most, 11, missing values
df_cleaned = df.dropna()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [16]:
print("Shape before cleaning:", df.shape)
print("Shape after cleaning:", df_cleaned.shape)

Shape before cleaning: (391, 10)
Shape after cleaning: (390, 10)

### 8.1

The df.groupby("col1")["col2"].describe() method in pandas provides a summary of statistics for col2 for each unique value in col1. This is what it does
- Grouping: It groups the DataFrame df by the values in col1.
- Selecting Column: It focuses on the column col2.
- Descriptive Statistics: It then computes and displays descriptive statistics for col2 within each group.

In [18]:
import pandas as pd

#sample dataframe
data = {
    'col1': ['A', 'A', 'B', 'B', 'C', 'C', 'C'],
    'col2': [10, 15, 10, 20, 30, 35, 40]
}
df = pd.DataFrame(data)

# Applying the groupby and describe methods
result = df.groupby('col1')['col2'].describe()

print(result)

      count  mean       std   min    25%   50%    75%   max
col1
A       2.0  12.5  3.535534  10.0  11.25  12.5  13.75  15.0
B       2.0  15.0  7.071068  10.0  12.50  15.0  17.50  20.0
C       3.0  35.0  5.000000  30.0  32.50  35.0  37.50  40.0

This method is useful for understanding the distribution and summary statistics of one column (col2) within the different categories of another column.

### 8.2

Why They Capture Different Things
1. df.describe() captures the count of non-missing values across the whole DataFrame, regardless of any grouping.
df.groupby("col1")["col2"].describe() captures the count of non-missing values within each group defined by col1.

2. In df.describe(), if a column has missing values, they are excluded from the count, and this count reflects the total non-missing observations across the entire DataFrame.
In df.groupby("col1")["col2"].describe(), missing values are excluded from the count for each specific group. This means that the count values in each group could be different from the overall count in df.describe() if the distribution of missing values is uneven across groups.

In [20]:
import pandas as pd
import numpy as np

# Sample DataFrame with missing values
data = {
    'col1': ['A', 'A', 'B', 'B', 'C', 'C', 'A'],
    'col2': [10, np.nan, 10, 20, np.nan, 30, 25]
}
df = pd.DataFrame(data)

# Global describe
global_describe = df.describe()

# Grouped describe
grouped_describe = df.groupby("col1")["col2"].describe()

print("Global Describe:\n", global_describe)
print("\nGrouped Describe:\n", grouped_describe)

Global Describe:
             col2
count   5.000000
mean   19.000000
std     8.944272
min    10.000000
25%    10.000000
50%    20.000000
75%    25.000000
max    30.000000

Grouped Describe:
       count  mean        std   min    25%   50%    75%   max
col1
A       2.0  17.5  10.606602  10.0  13.75  17.5  21.25  25.0
B       2.0  15.0   7.071068  10.0  12.50  15.0  17.50  20.0
C       1.0  30.0        NaN  30.0  30.00  30.0  30.00  30.0

Global Describe (df.describe()): The count of 5 reflects the non-missing values in col2 across the entire DataFrame.
Grouped Describe (df.groupby("col1")["col2"].describe()): The count values are specific to each group. For 'A', it has 3 non-missing values, for 'B', it has 2, and for 'C', it has 1.

### 8.3

In [1]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)  # This will raise an error

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
#mistype file name next
dfs.isna().sum()

NameError: name 'dfs' is not defined

In [4]:
df = pd.read_csv(url

SyntaxError: incomplete input (4097044206.py, line 1)

In [5]:
df.group_by("col1")["col2"].describe()

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [6]:
df.groupby("col1")["col2"].describle()

KeyError: 'col1'

In [7]:
df.groupby("sex")

KeyError: 'sex'

In [8]:
["age"].describe()

AttributeError: 'list' object has no attribute 'describe'

In [10]:
df.groupby(sex)["age"].describe()

NameError: name 'sex' is not defined

In [11]:
df.groupby("sex")[age].describe()

KeyError: 'sex'

Personally, chatgpt was much more helpul in finding the ans. However, I feel like I might not even need chat to find the mistake because of the traceback feature.

## 9. 
Somewhat, I'd be interested in learning and perfecting the syntax.